
:root {
    --colorDarkDark2: #555770;    
    --colorDarkDark3: #8f90a6;    
    --colorPrimaryMainColor: #3e7bfa;    
    --colorLightLight3: #fafafc;    
    --colorDarkDark0: #1c1c28;    
    --colorDarkDark4: #c7c9d9;    
    --colorRedRed0: #e53535;    
    --colorRedRed2: #ff5c5c;    
    --colorRedRed1: #ff3b3b;    
    --colorYellowYellow0: #e5b800;    
    --colorYellowYellow2: #fddd48;    
    --colorYellowYellow1: #ffcc00;    
    --colorTealTeal0: #00b7c4;    
    --colorTealTeal2: #73dfe7;    
    --colorTealTeal1: #00cfde;    
    --colorPurplePurple1: #6600cc;    
    --colorPurplePurple2: #ac5dd9;    
    --colorPurplePurple0: #4d0099;    
    --colorBlueBlue0: #004fc4;    
    --colorBlueBlue2: #5b8def;    
    --colorBlueBlue1: #0063f7;    
    --colorOrangeOrange0: #e57a00;    
    --colorOrangeOrange2: #fdac42;    
    --colorOrangeOrange1: #ff8800;    
    --colorGreenGreen0: #05a660;    
    --colorGreenGreen2: #39d98a;    
    --colorGreenGreen1: #06c270;    
    --colorLightLight0: #e4e4eb;    
    --colorLightLight2: #f2f2f5;    
    --colorLightLight1: #ebebf0;    
    --colorDarkDark1: #28293d;    
    --colorPrimaryLighter: #6698fa;    
    --colorPrimaryDarker: #3568d4;    
    --colorLightLight4: #ffffff;    
    --colorPrimarySubtle: #ccddff;    
    --colorBlueBlue4: #e5f0ff;    
    --colorBlueBlue3: #9dbff9;    
    --colorTealTeal4: #e5ffff;    
    --colorTealTeal3: #a9eff2;    
    --colorGreenGreen4: #e3fff1;    
    --colorGreenGreen3: #57eba1;    
    --colorYellowYellow4: #fffee5;    
    --colorYellowYellow3: #fded72;    
    --colorOrangeOrange4: #fff8e5;    
    --colorOrangeOrange3: #fccc75;    
    --colorRedRed4: #ffe5e5;    
    --colorRedRed3: #ff8080;    
    --colorPurplePurple4: #ffe5ff;    
    --colorPurplePurple3: #dda5e9;    
}