
:root {
    --gradientGradientGradient08: linear-gradient(
          150.98deg,
          #ac5dd9 0%,   
          #004fc4 100%  
        )
        ;    
    --gradientGradientGradient07: linear-gradient(
          154.49deg,
          #73dfe7 0%,   
          #0063f7 100%  
        )
        ;    
    --gradientGradientGradient06: linear-gradient(
          154.49deg,
          #ff3b3b 0%,   
          #6600cc 100%  
        )
        ;    
    --gradientGradientGradient05: linear-gradient(
          150.98deg,
          #fddd48 0%,   
          #00b7c4 100%  
        )
        ;    
    --gradientGradientGradient04: linear-gradient(
          154.49deg,
          #00cfde 0%,   
          #05a660 100%  
        )
        ;    
    --gradientGradientGradient03: linear-gradient(
          154.49deg,
          #3e7bfa 0%,   
          #6600cc 100%  
        )
        ;    
    --gradientGradientGradient02: linear-gradient(
          154.49deg,
          #ff8800 0%,   
          #e63535 100%  
        )
        ;    
    --gradientGradientGradient01: linear-gradient(
          154.49deg,
          #5b8def 0%,   
          #0063f7 100%  
        )
        ;    
    --gradientGradientGradient1: linear-gradient(
          212.58deg,
          #1062fe 0%,   
          #874ce6 87.2%  
        )
        ;    
    --gradientGradientGradient2: linear-gradient(
          158.37deg,
          #6ac883 0%,   
          #5292ff 46.2%,   
          #be9ff0 91.5%  
        )
        ;    
}