
:root {
    --shadowDarkElevation06: 0 20px 32px 0 rgba(0,0,0,0.32);  
    --shadowDarkElevation062: 0 2px 8px 0 rgba(0,0,0,0.08);  
    --shadowDarkElevation05: 0 16px 24px 0 rgba(0,0,0,0.32);  
    --shadowDarkElevation052: 0 2px 8px 0 rgba(0,0,0,0.04);  
    --shadowDarkElevation04: 0 8px 16px 0 rgba(0,0,0,0.32);  
    --shadowDarkElevation042: 0 2px 4px 0 rgba(0,0,0,0.04);  
    --shadowDarkElevation03: 0 4px 8px 0 rgba(0,0,0,0.32);  
    --shadowDarkElevation032: 0 0 2px 0 rgba(0,0,0,0.04);  
    --shadowDarkElevation02: 0 2px 4px 0 rgba(0,0,0,0.32);  
    --shadowDarkElevation022: 0 0 1px 0 rgba(0,0,0,0.04);  
    --shadowDarkElevation01: 0 1px 2px 0 rgba(0,0,0,0.32);  
    --shadowDarkElevation012: 0 0 1px 0 rgba(40,41,61,0.08);  
    --shadowLightElevation06: 0 20px 32px 0 rgba(96,97,112,0.24);  
    --shadowLightElevation062: 0 2px 8px 0 rgba(40,41,61,0.08);  
    --shadowLightElevation05: 0 16px 24px 0 rgba(96,97,112,0.16);  
    --shadowLightElevation052: 0 2px 8px 0 rgba(40,41,61,0.04);  
    --shadowLightElevation04: 0 8px 16px 0 rgba(96,97,112,0.16);  
    --shadowLightElevation042: 0 2px 4px 0 rgba(40,41,61,0.04);  
    --shadowLightElevation03: 0 4px 8px 0 rgba(96,97,112,0.16);  
    --shadowLightElevation032: 0 0 2px 0 rgba(40,41,61,0.04);  
    --shadowLightElevation02: 0 2px 4px 0 rgba(96,97,112,0.16);  
    --shadowLightElevation022: 0 0 1px 0 rgba(40,41,61,0.04);  
    --shadowLightElevation01: 0 0.5px 2px 0 rgba(96,97,112,0.16);  
    --shadowLightElevation012: 0 0 1px 0 rgba(40,41,61,0.08);  
    --shadowLightElevation01Inset_: inset 0 0.5px 4px 0 rgba(96,97,112,0.32);  
    --shadowDarkElevation01Inset_: inset 0 0.5px 4px 0 rgba(0,0,0,0.32);  
    --shadowFluffyElevation6: 0 17.5px 70px 0 rgba(0,0,0,0.12);  
    --shadowFluffyElevation3: 0 10px 30px 0 rgba(0,0,0,0.11);  
    --shadowShadowElevation1: 0 5px 15px 0 rgba(0,0,0,0.15);  
    --shadowShadowElevation2: 0 6.25px 20px 0 rgba(0,0,0,0.13);  
    --shadowTightElevation3: 0 2px 6px 0 rgba(0,0,0,0.22);  
    --shadowTightElevation1: 0 1px 3px 0 rgba(0,0,0,0.3);  
    --shadowTightElevation2: 0 1.25px 4px 0 rgba(0,0,0,0.25);  
    --shadowTightElevation4: 0 2px 7px 0 rgba(0,0,0,0.24);  
    --shadowTightElevation5: 0 3px 12px 0 rgba(0,0,0,0.2);  
    --shadowTightElevation6: 0 3.5px 14px 0 rgba(0,0,0,0.2);  
    --shadowTightElevation7: 0 7px 18px 0 rgba(0,0,0,0.17);  
    --shadowTightElevation8: 0 12px 28px 0 rgba(0,0,0,0.2);  
    --shadowTightElevation9: 0 13px 36px 0 rgba(0,0,0,0.22);  
    --shadowFluffyElevation1: 0 5px 15px 0 rgba(0,0,0,0.15);  
    --shadowFluffyElevation2: 0 6.25px 20px 0 rgba(0,0,0,0.13);  
    --shadowFluffyElevation4: 0 10px 35px 0 rgba(0,0,0,0.12);  
    --shadowFluffyElevation5: 0 15px 60px 0 rgba(0,0,0,0.12);  
    --shadowFluffyElevation7: 0 35px 90px 0 rgba(0,0,0,0.13);  
    --shadowShadowRaised: 0 1px 3px -1px rgba(20,23,31,0.06);  
    --shadowShadowRaised2: 0 2px 3px -3px rgba(20,23,31,0.1);  
    --shadowShadowOverlay: 0 15px 25px 0 rgba(20,23,31,0.07);  
    --shadowShadowOverlay2: 0 5px 10px 0 rgba(20,23,31,0.05);  
}